<p>
	For over 50 years my family has been growing sweet corn and vegetables at Early Bird Farm in Ithaca NY.I started Off the Cob to re-invent the tortilla chip using fresh sweet corn grown on small family farms. 

Made with real sweet corn on the cob and organic white and yellow corn, cooked in expeller-pressed sunflower oil, Off the Cob Sweet Corn Chips are lighter, crispier, and sweeter than most tortilla chips. 

Sweet corn is 1% of corn. It can be eaten on the cob and it is harvested in the summer when the kernels are ripe with sugar. 

Most corn is starchy grain corn, which is harvested in the fall when the kernels are hard and dry. 

Off the Cob Sweet Corn Tortilla Chips 4 oz Lightly Salted are available at 50 stores in New England for a retail price of $3.99.
</p>