
<div class="row">
	<div class="span6">
		<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/hypes-images/assets/scripts/tintembed.js"></script>

		<div class="tintup-holder" style="-webkit-overflow-scrolling:touch;overflow:auto;position:relative;height:305px;width:400px;">        
		<iframe class="tintup" src="http://www.tintup.com/offthecob-1367033136?embed=true&height=600&width=800&cols=3" style="height:600px;width:800px;border:none;">
		</iframe>
	</div>
</div>

<div class="span6">
	<div class="twitter">
		<a class="twitter-timeline" href="https://twitter.com/SweetCornChips" data-widget-id="299939885035429888">Tweets by @SweetCornChips</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>



